<template name="impressumFAQHeadingEN">
    <h1>Frequently asked questions about 🍅cards</h1>
</template>

<template name="impressumFAQContentEN">
    <ol>
        <li>
            <p style="color: #9C132D;">
                Why not learn with paper index cards?
            </p>
            <br/>
            <a href="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Lernkartei_Vokabelbox.jpg/1024px-Lernkartei_Vokabelbox.jpg"
               data-lightbox="img-1" data-title="Lernkartei analog">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Lernkartei_Vokabelbox.jpg/1024px-Lernkartei_Vokabelbox.jpg"
                     alt="Lernkartei analog" class="img-responsive center-block"/>
            </a>

            <br/>
            <p>
                The digital maps lack the haptics of paper, but they have indisputable advantages.
                Advantages:
            </p>
            <ul>
                <li>
                    They are as portable and mobile as your smartphone.
                </li>
                <li>
                    They are multimedia: you can insert pictures, podcasts and videos as you like.
                </li>
                <li>
                    They represent the most complicated mathematical formulas in LaTeX cleanly.
                </li>
                <li>
                    The knowledge from all the modules of your studies is in one place and you can do it in
                    one place.
                    at any time with one click.
                </li>
                <li>
                    They are automatically returned to you at the right time for learning.
                    push messages
                    on your phone remind you of learning.
                </li>
                <li>
                    They cost nothing.
                </li>
            </ul>
        </li>
        <hr/>
        <li>
            <p style="color: #9C132D;">
                What does it mean when a set of cards refers to an <b>&raquo;active learning phase"?</b>
            </p>
            <p>
                Here the teacher has activated the <b>bonus option</b>.
                If you're using the <a href="https://de.wikipedia.org/wiki/Lernkartei" target="_blank">fivefold
                method,
                of Sebastian Leitner's</a> cards regularly, you can earn bonus points,
                creditable to the examination grade.
                That depends on your teacher, of course.
                In this case, you will be sent a <b>message</b> to your mobile phone (if you have previously
                used 🍅cards in the
                browser
                on your smartphone) and/or by <b>e-mail</b> to your study workload.
                is indicated.
                You will only receive the bonus if, at the end of the active learning phase, all cards in
                the last
                compartment
                &raquo;Learned&laquo;, see the button &raquo;My level according to Leitner&laquo;.
            </p>
        </li>
        <hr/>
        <li>
            <p style="color: #9C132D;">
                Why should one day learn cards be repeated at ever longer intervals?
            </p>
            <p>
                A detailed explanation as to why <b>repetitions of the lessons learnt</b> in longer periods
                of time are necessary.
                Intervals are so important, you will find in our paper with scientific evidence,
                see
                on the <a href="{{pathFor route='about'}}">🍅cards</a> page.
                But Daniel Hunold explains this faster and cooler in the video:
            </p>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Is62XAmgrRQ?rel=0"
                        frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen>
                </iframe>
            </div>
        </li>
        <hr/>
        <li>
            <p style="color: #9C132D;">
                How can I pass on sets of cards to my fellow students?
            </p>
            <p>
                Either you publish the sets of cards in the &raquo;Pool&laquo; of 🍅cards in the category
                &raquo;Free&laquo;.
                or
                you export the individual deck as a file.
            </p>
        </li>
        <hr/>
        <li>
            <p style="color: #9C132D;">
                I have seen that there is also the type of <b>card &raquo;Mitschrift&laquo;</b>. How can I
                get a
                Write your lecture with 🍅cards?
            </p>
            <p>
                As a digitally affine person, as a &raquo;digital native&laquo;, you could take notes with
                your laptop
                or computer.
                Write tablet.
                But handwriting with colours and pictures is better, as Daniel Hunold explains in the video.
                After the lecture, take a picture of your transcript and upload it to your dropbox or your
                computer.
                in
                the cloud of Google &amp; Co. You can put the photo on a &raquo;transcript&laquo; type card.
                by
                Insert link.
                The back of the page is used for post-processing the lecture.
            </p>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bunphvhgd9M?rel=0"
                        frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen>
                </iframe>
            </div>
        </li>
        <hr/>
        <li>
            <p style="color: #9C132D;">
                Can I use 🍅cards as a student at another university?
            </p>
            <p>
                Yes, see the last paragraph under <a href="{{pathFor route='about'}}">🍅cards</a> or the
                <a href="{{pathFor route='agb'}}">AGB</a>
            </p>
        </li>
        <hr/>
        <li>
            <p style="color: #9C132D;">
                I know a lot about the Linux console. Can I use 🍅cards on my laptop?
                install
                and customize (as <b>&raquo;My Cards&laquo;</b>) and offline with the locally held decks of
                cards
                to learn?
            </p>
            <p>
                Yes, 🍅cards is Open Source. An <a
                    href="https://git.thm.de/arsnova/flashcards/blob/staging/README.md" target="_blank">installation
                guide</a>
                can be found at THM-Gitlab.
            </p>
        </li>
        <hr/>
        <li>
            <p style="color: #9C132D;">
                As a lecturer, student or open source programmer, if I have a question about <b>using
                or further development of 🍅cards</b>, who can I contact?
            </p>
            <p>
                Just send an email to one of the persons listed in the <a
                    href="{{pathFor route='impressum'}}">legal notice.</a>
                Bug reports, features and pull requests can also be found on <a
                    href="https://github.com/thm-projects/arsnova-flashcards/issues"
                    target="_blank">GitHub</a>
                write.
            </p>
        </li>
        <hr/>
    </ol>
</template>