<template name="mainNavigationTopItemProfileItemLogout">
    <tr class="hidden-xs logout logout-dropdown">
        <td><a class="dropdown-item" href="#"><i
                class="glyphicon glyphicon-log-out"></i></a></td>
        <td><a class="dropdown-item" href="#">{{_
                "profile.logout"}}</a></td>
    </tr>
</template>
